doctype html
html
  head
    title Агентство Аэродизайна "Микки"

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    base(href="/")
    
    link(href="static/client/assets/libs/Materialize/dist/css/materialize.min.css", rel="stylesheet", media="screen,projection")
    link(href="static/client/assets/libs/fontawesome/css/font-awesome.min.css", rel="stylesheet")
    link(href="static/client/assets/libs/pickadate/lib/themes/default.css", rel="stylesheet")
    link(href="static/client/assets/libs/angularjs-slider/dist/rzslider.min.css", rel="stylesheet")
    link(href="static/client/assets/libs/slick-carousel/slick/slick.css", rel="stylesheet")
    link(href="static/client/assets/libs/slick-carousel/slick/slick-theme.css", rel="stylesheet")
    link(href="static/client/assets/libs/animate.css/animate.min.css", rel="stylesheet")
    link(href="static/client/assets/css/index.min.css", rel="stylesheet")
  | {% verbatim %}
  body(ng-app="mickey")
    .main
      include ./views/separator.jade
      header
        .row.valign-wrapper
          .col.l2.m3.s3.valign
            a.logo(ui-sref="main")
              img.responsive-img.hide-on-med-and-down(
                src="/static/client/assets/images/logo_l.png"
                alt="Логотип Микки"
              )
              img.responsive-img.hide-on-large-only(
                src="/static/client/assets/images/logo_m.png"
                alt="Логотип Микки"
              )
          .contacts.col.l5.m5.s9.valign.center-align.light-green-text.text-darken-4
            i.fa.fa-mobile
            ul
              li +375 (29) 336 14 12
              li +375 (29) 137 21 32
          .contacts.col.l3.valign.hide-on-med-and-down
            a.light-green-text.text-darken-4(href="mailto: info@puffland.by") info@mickey.by
          .col.l2.m3.valign.hide-on-small-only
            a.cyan-text.text-lighten-1(
              href="https://vk.com/mickey_by"
              target="_blank"
              title="Вконтакте"
            )
              i.fa.fa-vk
            a.orange-text(
              href="http://ok.ru/profile/564116239778"
              target="_blank"
              title="Одноклассники"
            )
              i.fa.fa-odnoklassniki
      div.divider
      nav.cyan.lighten-1
        .nav-wrapper
          a.button-collapse(
            href="#"
            data-activates="mobile-topmenu"
          )
            i.fa.fa-bars.text-darken-3
          ul.left.hide-on-med-and-down
            li
              a(ui-sref="catalog.list") Каталог
            li
              a(ui-sref="ballSizes") Размеры шаров
          ul.cyan.lighten-1.side-nav#mobile-topmenu
            li
              a(ui-sref="catalog.list") Каталог
            li
              a(ui-sref="ballSizes") Размеры шаров
      .clearfix
      main(ui-view)
    include ./views/footer.jade
    
    include ./views/spinner.jade

    .fixed-action-btn.cart(ng-if="user.isLogged",ng-cloak)
      a.btn-floating.btn-large.pink.lighten-1(
        ui-sref="cart"
        title="Корзина"
      )
        i.fa.fa-shopping-basket
    .fixed-action-btn.profile(ng-if="user.isLogged", ng-cloak)
      a.btn-floating.btn-large.green.lighten-1(
        ui-sref="profile({id: user.info.id})"
        title="Профиль"
      )
        i.fa.fa-user
    .fixed-action-btn.sign-out(ng-if="user.isLogged", ng-cloak)
      a.btn-floating.btn-large.cyan.lighten-1(
        ng-click="logout()"
        title="Выйти"
      )
        i.fa.fa-sign-out


    .fixed-action-btn.sign-in(ng-if="!user.isLogged", ng-cloak)
      a.btn-floating.btn-large.cyan.lighten-1(
        ui-sref="login"
        title="Войти"
      )
        i.fa.fa-sign-in
    .fixed-action-btn.registration(ng-if="!user.isLogged", ng-cloak)
      a.btn-floating.btn-large.green.lighten-1(
        ui-sref="registration"
        title="Регистрация"
      )
        i.fa.fa-user-plus

    script(src="static/client/assets/libs/jquery/dist/jquery.min.js")
    script(src="static/client/assets/libs/masonry/dist/masonry.pkgd.min.js")
    script(src="static/client/assets/libs/wow/dist/wow.min.js")
    script(src="static/client/assets/libs/angular/angular.js")
    script(src="static/client/assets/libs/angular-resource/angular-resource.min.js")
    script(src="static/client/assets/libs/Materialize/dist/js/materialize.min.js")
    script(src="static/client/assets/libs/angular-ui-validate/dist/validate.js")
    script(src="static/client/assets/libs/angular-ui-router/release/angular-ui-router.min.js")
    script(src="static/client/assets/libs/ngInfiniteScroll/build/ng-infinite-scroll.min.js")
    script(src="static/client/assets/libs/pickadate/lib/picker.date.js")
    script(src="static/client/assets/libs/pickadate/lib/picker.time.js")
    script(src="static/client/assets/libs/angularjs-slider/dist/rzslider.min.js")
    script(src="static/client/assets/libs/slick-carousel/slick/slick.min.js")
    script(src="static/client/assets/libs/angular-slick/dist/slick.min.js")
    script(src="static/client/assets/libs/underscore/underscore-min.js")
    script(
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js"
    )
    script(src="static/client/app/index.js")      
  | {% endverbatim %}
