.row
  .col.offset-s1
    h3.pink-text.text-lighten-2 Каталог
.row
  .col.l3.m4.hide-on-small-only
    form.z-depth-1.filter(name="filterForm")
      .category(
        ng-repeat="category in categories"
        ng-if="category.subcategories.length"
      )
        h6.pink-text.text-lighten-2 {{category.name}}
        p(ng-repeat="subcategory in category.subcategories")
          input(
            type="checkbox"
            id="{{subcategory.id}}"
            ng-click="categoryFilter(subcategory)"
          )
          label(for="{{subcategory.id}}") {{subcategory.name}}
        .divider
      h6.pink-text.text-lighten-2 Цена
      rzslider.cyan.lighten-1(
        rz-slider-model="params.price__gte"
        rz-slider-high="params.price__lte"
        rz-slider-options="priceOptions"
      )
  .col.l9.m8.s12
    .row(
      infinite-scroll="load()"
      infinite-scroll-disabled="totalCount <= params.offset || isLoadingError"
    )
      .col.l4.m6.s8.offset-s2.product.wow.slideInDown(ng-repeat="product in products")
        .z-depth-1.product
          .center-align
            img.responsive-img.cursor-pointer(
              ng-src="{{product.image}}"
              alt="{{product.name}}"
              ui-sref="catalog.details({id: product.id})"
            )
          a.name(
            ui-sref="catalog.details({id: product.id})"
            title="{{product.name}}"
          ) {{product.name}}
          p.price.left
            span {{product.price}}
          p.price.right(ng-if="product.is_sale")
            i.fa.fa-percent.fa-lg(title="Скидка {{product.discount}} руб.")
          .clearfix
