slick.row.slick-slider.hide-on-small-only(
  accessibility="false"
  autoplay="true"
  autoplaySpeed=5000
  dots="false"
  fade="true"
  cssEase="linear"
  lazy-load="ondemand"
  mobileFirst="true"
  arrows="false"
)
  .col.l12.slick-slide.slide1
  .slick-slide.col.l12(style="background-image: url(/static/client/assets/images/slides/slide2.jpg)")
  .slick-slide.col.l12(style="background-image: url(/static/client/assets/images/slides/slide3.jpg)")

include ../../views/separator.jade
.container.grey.lighten-4.z-depth-1(style="height: 100px; margin-top: 10px")
  .row.center-align
    .col.l4.m4.s12 Доставка
    .col.l4.m4.s12 Низкие цены
    .col.l4.m4.s12 Гарантия
.container
  .row
    h3.pink-text.text-lighten-2.center-align Популярные товары
  .row
    .col.l5.m6.s10.offset-s1.wow.fadeInLeft(
      ng-repeat="popularProd in popularProducts"
      ng-class="{'offset-l1': !$odd}"
    )
      .z-depth-1.product
        .center-align
          img.responsive-img(ng-src="{{popularProd.image}}")
        a.name(ui-sref="catalog.details({id: popularProd.id})") {{popularProd.name}}
        p.price
          span(ng-class="{'discount': popularProd.is_sale}") {{popularProd.price}}
          span(ng-if="popularProd.is_sale") &nbsp;{{popularProd.price - popularProd.discount}}

.container
  .feedback-container.row.center-align.light-green-text.text-darken-4
    .col.l4.m6.s12.offset-m3.wow.slideInLeft(ng-repeat="feedback in feedbacks")
      .feedback.green.lighten-1.z-depth-1
        img.avatar.circle(ng-src="{{feedback.img}}")
        p {{feedback.text}}
        p {{feedback.name}}
